body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 17rem;
  background-color: rgb(211, 24, 214);
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 25px;
}
